<div class="el-meter">
  <link rel="stylesheet" href="../../global.css" />
  <link rel="stylesheet" href="style.css" />
  <button id="create-meter" class="side-bar-button">
    Create electric meter
  </button>
  <div class="posrt-serlect">
    <select name="port" id="port">
      <option value="COM">COM</option>
      <option value="COM1">COM1</option>
      <option value="COM2">COM2</option>
      <option value="COM3">COM3</option>
    </select>
  </div>
  <button id="read-meter" class="side-bar-button">
    Read electric meter
  </button>
</div>

<div id="meters-container" class="meters-container"></div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="userForm">
      <label for="name">Name:</label>
      <input type="text" id="name" /><br /><br />
      <label for="userId">ID:</label>
      <input type="text" id="userId" /><br /><br />
      <button type="button" id="mater-create-form">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="electric-meter.js"></script>
