.meter {
  border: 2px solid #ffffff;
  background-color: #cfe1ca;
  border-radius: 12px;
  padding: 10px 0px;
}

.meterL {
  padding: 2px 10px;
}

.el-meter {
  height: 100vp;
}

.meters {
  display: flex;
  flex-direction: row;
}

.meters-container {
  display: flex;
  flex-direction: column;
}
